@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*, ul, figure, h1, h2, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #EBE7E0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1220px;
    margin: auto;
    width: 100%;
}

.link:hover{
    background-color: #F9F8F6;
    border-radius: 20px;
    color: #4C8055;
    cursor: pointer;
}

.link-active a{
    color: #4C8055!important;
    border-bottom: solid 2px #4C8055;
}

.link-active:hover{
    background-color:initial;
    cursor: initial;

}

.page-title{

    padding: 55px 0 25px 0;
    border-bottom: 1px solid #B0B0B0;
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
}

.h1{
     text-align: center;
     text-transform: uppercase;
     color: #464646;
     font-size: 1.6rem;
     grid-column-start: 2;
    font-weight: 600;
 }

.align-right{
    margin-left: auto;
}

input, select{
    height: 35px;
    width: 244px;
    border: none;
    border-radius:8px;
    background-color: #dfdad5;
    padding: 0.5rem 3.5rem 0.5rem 2.5rem;
    cursor: pointer;
}

select{
    padding-right: 2.8rem;
    /** for the dropdown indicator */
    appearance: none;
    background-image:
            url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") ,
            linear-gradient(90deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    background-repeat:
            no-repeat,
            no-repeat;
    background-position:
            right 1rem center,
            right;
    background-size:
            1rem,
            3rem;
}

option{
    padding: 2rem;
}

:focus-visible {
    outline: 1px solid #969590;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    row-gap: 2.5rem;
    padding: 2.5rem 1rem;
}

.btn{
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-primary{
    background: #4C8055;
    color: #ffffff;
}

.btn-primary:hover{
    background: #2f5933;
    color: #ffffff;
}

.btn-icon{
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    height: initial;
    padding: 10px;
}

.btn-icon:hover{
    color: rgba(255, 255, 255, 1);
}

.far{
    font-size: 1.8rem;
}