.header{
    background-color: #fff;
}
.header > .container{
    padding: 5px 0;
    align-items: center;
    display: flex;
}

.logo-container{
    width: 105px;
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 100%;
    object-fit: cover;
}

nav{
    width: calc(100% - 110px);
}

nav ul{
    list-style-type:none;
    padding: 0 3%;
    display: flex;
    align-items: center;
}

.link{
    transition: background-color .3s ease-out;
    padding: 12px 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1f1d1d;
    text-decoration: none;
}
.link:hover{
    background-color: #F9F8F6;
    border-radius: 20px;
    color: #4C8055;
    cursor: pointer;
    text-decoration: none;
}

.link-active{
    position: relative;
    color: #4C8055!important;
}

.link-active:after {
    content: '';
    width: calc(100% - 56px);
    position: absolute;
    left: 28px;
    bottom: 10px;
    border-width: 0 0 2px;
    border-style: solid;
}

.link-active:hover{
    background-color:initial;
    cursor: initial;
}